@{
    Page.Title = "我的MVC网站";
    Layout = "~/_MainLayout.cshtml";
}
<div class="jumbotron text-center">
    <h1><i class="fa fa-user-o"></i>胡辉煜的网站<small>基于mvc技术</small></h1>
    <h2 class="text-info">
        <a href="~/Dept/">部门管理</a>
        <a href="~/Employee/">员工管理</a>
        <a href="~/Page/">分页查询</a>
    </h2>
</div>

